//
// VARIABLES
//

// Colors
$green: #2ecc71;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #95a5a6;
$lightGray: #afbac4;
$white: #fafafa;

// Font stacks
$helvetica: Ubuntu, Helvetica, Arial, sans-serif;
$fantasque: "Fantasque Sans Mono", Ubuntu, sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
