//
// VARIABLES
//

@font-face {
  font-family: 'Momo Trust Sans';
  src: URL('/static/fonts/MomoTrustSans.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  src: URL('/static/fonts/Inter.ttf') format('truetype');
}


// Colors
$green: #2ecc71;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #95a5a6;
$lightGray: #afbac4;
$white: #fafafa;

// Font stacks
$helvetica: Inter, Helvetica, Arial, sans-serif;
$gitlabmono: "Momo Trust Sans", Inter, sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
