//
// VARIABLES
//

@font-face {
  font-family: 'Fira Code';
  src: URL('/static/fonts/FiraCode.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  src: URL('/static/fonts/Inter.ttf') format('truetype');
}


// Colors
$green: #000;

// Grays
$black: #000;
$darkerGray: #000;
$darkGray: #000;
$gray: #95a5a6;
$lightGray: #afbac4;
/* $white: #fafafa; */
$white: #000;

// Font stacks
$helvetica: Inter, Helvetica, Arial, sans-serif;
$gitlabmono: "Fira Code", monospace;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
