//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

.hljs {
  font-family: monospace;
  font-size: 18px;
}

a {
  border-bottom: $darkGray 3px solid;
  font-weight: bold !important;
  &:hover {
    text-decoration: none !important;
  }
}

body {
  font: 18px/1.4 $helvetica;
  color: $black;
  background-color: #fafafa;
}

.container {
  margin: 20px auto;
  max-width: 1024px;
  padding: 0 1.25rem;
  width: 100%;
  &.row .col-12 {
    @include mobile {
      padding: 0;
    }
  }
  @include mobile {
    &.head {
      padding: 0;
      margin: 0;
    }
  }
}

.page h1 {
  margin-top: 0;
}

.gitlabmono {
  font-family: $gitlabmono;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $gitlabmono;
  color: $white;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: #c0392b;
    &:hover {
      color: #e74c3c;
      text-decoration: none;
    }
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: lighten($green, 20%) !important;
  text-decoration: none;
  cursor: pointer;
  font-weight: 400;
  font-family: $gitlabmono;
  &:hover,
  &:active {
    color: lighten($green, 25%);
  }
}

ul,
ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul,
ul ol,
ul ul,
ol ol {
  margin: 0;
}

ul ul,
ol ul {
  list-style-type: circle;
}

em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;

  @include mobile {
    margin: 0;

  }
}

.masthead {
  padding: 1em;
  border-radius: 2px;
  display: flex;
  width: 100%;

  @include mobile {
    text-align: center;
    width: auto;
    position: relative;
    border: none;
    display: block;
  }
}

.site-avatar {
  width: 70px;
  height: 70px;
  margin-right: 15px;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  display: block;
  border: none;
  margin: 0 auto;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-info {
  text-align: center;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $gitlabmono;
  font-size: 28px;
  letter-spacing: 1px;
  line-height: 70px;
  
  a {
    font-weight: bold;
    border: none;
  }
}

.site-description {
  margin: -5px 0 0 0;
  color: $white !important;
  font-size: 15px;

  @include mobile {
    margin: 3px 0;
  }
}

.bottompagination .navigation {
  display: block;
  padding: 35px 0 0 0;
  text-align: center;
  color: $lightGray !important;
}

nav {
  margin: 25px auto 0;
  font-family: $gitlabmono;
  font-size: 18px;
  text-align: center;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    letter-spacing: 1px;
    font-weight: bold;
    &:hover {
      color: $darkGray;
    }

    @include mobile {
      margin: 0 10px;
      color: $green;
    }
  }

  &.icons a {
    margin-left: 10px;
  }

  i.fab,
  i.fas {
    color: $white;
  }
}

//
// .main
//

.posts > .post {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid $lightGray;
  background: transparent;
  border-radius: 0;
  h1 {
    margin: 0;
    font-size: 1.4em;
  }
  .date {
    height: auto;
    line-height: auto;
    font-size: 1em;
    float: right;
  }
}

pre {
  padding: 10px;
  border-radius: 4px;
}

img.center {
  display: block;
  margin: 0 auto;
}

.post {
  h1 {
    margin: 0 0 1em;
    a {
      font-weight: bold;
    }
  }

  blockquote {
    margin: 1.8em 0.8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .date {
    height: 50px;
    line-height: 50px;
  }
}

footer {
  padding: 20px 0;
  text-align: center;
  a i {
    color: $gray;
    font-size: 1.5em;
  }
}
.card {
  border: none;
}

.card-body {
  padding: 0;
}

code {
  color: $black;
  background: #A7F175;
  padding: 5px 10px;
  border-radius: 4px;
  font-family: $gitlabmono;
  font-weight: 200;
}

table {
  background-color: $white;
}
